@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
}
main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
}
.topcontent {
    background-color: hsl(31, 77%, 52%);
    padding: 2em;
    width: 50%;
    height: 50%;

}
.topcontent h3{
    font-size: 20px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;

}
/* .topcontent .ptop{
    font-size: 15px;
    padding-bottom: 10px;
    color: ;
    font-weight: bold;
} */
.Middlecontent{
    background-color: hsl(184, 100%, 22%);
    padding: 2rem;
    width: 50%;
    height: 50%;
}
.Middlecontent p,h3{
    color: hsla(0, 0%, 100%, 0.75);
}
.rightcontent p,h3{
    color: white;
}
.rightcontent{
    background-color: hsl(179, 100%, 13%);
    padding: 2rem;
    width: 50%;
    height: 50%;
    
}

p{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
h3{
    padding-bottom: 2rem;
}
button{
  
}